.panel.panel-default
  .panel-heading
    = twin_sword.name
  .panel-body
    %table.table
      %tr
        %th 攻撃力
        - twin_sword.attrs.each do |a|
          %th= a.name
        %th 会心率
      %tr
        %td= twin_sword.power
        - twin_sword.attrs.each do |a|
          %td= a.value
        %td= twin_sword.strike_ratio

    #sharpness
      .heading
        切れ味
      .body
        .progress
          = render partial: "sharpness_guage/sword", object: twin_sword
  .panel-body
    - if twin_sword.recipe_derived_from.nil?
      派生元がありません
    - else
      %h4 #{link_to_twin_sword(twin_sword.derived_from)}からの強化素材
      %ul.list-group= render partial: "requirements/requirement", collection: twin_sword.recipe_derived_from.items
  .panel-body
    - twin_sword.recipes_deriving_to.each do |recipe|
      %h4 #{link_to_twin_sword(recipe.to)}への強化素材
      %ul.list-group= render partial: "requirements/requirement", collection: recipe.items
