.progress
  .progress-bar.progress-bar-danger{ style: "width: #{sword.sharpness_percentage :red}%" }
  .progress-bar.progress-bar-info{ style: "width: #{sword.sharpness_percentage :orange}%" }
  .progress-bar.progress-bar-warning{ style: "width: #{sword.sharpness_percentage :yello}%" }
  .progress-bar.progress-bar-success{ style: "width: #{sword.sharpness_percentage :green}%" }
  .progress-bar.progress-bar-info{ style: "width: #{sword.sharpness_percentage :blue}%" }
  .progress-bar.progress-bar-success{ style: "width: #{sword.sharpness_percentage :white}%" }
